@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn {
    @apply px-4 py-2 rounded-xl2 font-medium transition;
  }

  .btn-primary {
    @apply btn bg-primary text-white hover:bg-primary-dark;
  }

  .card {
    @apply p-6 rounded-xl2 shadow-md bg-white;
  }
}
